flows.json
[{"id":"5a59b5f6.3aa00c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"28566378.0d16bc","type":"ui_dropdown","z":"5a59b5f6.3aa00c","name":"","label":"","tooltip":"","place":"Select option","group":"6ace400c.b13fd","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Mahankali Surya Tej","value":"Mahankali Surya Tej","type":"str"},{"label":"Pradeepthi","value":"Pradeepthi","type":"str"},{"label":"Rincy","value":"Rincy","type":"str"},{"label":"Supriya","value":"Supriya","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":160,"y":220,"wires":[["88c72806.70d1c8","9f65bcba.b9913"]]},{"id":"9f65bcba.b9913","type":"cloudant in","z":"5a59b5f6.3aa00c","name":"","cloudant":"","database":"employee","service":"node-red-jbeus-2021--cloudant-1622349705596-38620","search":"_id_","design":"","index":"","x":330,"y":180,"wires":[["69025156.23445","ae938436.715e38"]]},{"id":"88c72806.70d1c8","type":"debug","z":"5a59b5f6.3aa00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":220,"y":340,"wires":[]},{"id":"69025156.23445","type":"debug","z":"5a59b5f6.3aa00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":200,"wires":[]},{"id":"ae938436.715e38","type":"function","z":"5a59b5f6.3aa00c","name":"","func":"msg.payload=msg.payload.conv\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":440,"wires":[["256447c4.2ae1e8","f0ea4bba.ae44e8"]]},{"id":"256447c4.2ae1e8","type":"debug","z":"5a59b5f6.3aa00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":600,"wires":[]},{"id":"f0ea4bba.ae44e8","type":"watson-tone-analyzer-v3","z":"5a59b5f6.3aa00c","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/281ca9cb-302c-423f-89bd-46eae1cadf95","x":560,"y":260,"wires":[["6a65880f.984a98","eb127a8.89a7188"]]},{"id":"6a65880f.984a98","type":"debug","z":"5a59b5f6.3aa00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":240,"wires":[]},{"id":"eb127a8.89a7188","type":"function","z":"5a59b5f6.3aa00c","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else\n        if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":380,"wires":[["a26983d9.a16de","aacaf1dc.47a7e","ea6c1d58.4096f"]]},{"id":"a26983d9.a16de","type":"debug","z":"5a59b5f6.3aa00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"aacaf1dc.47a7e","type":"ui_chart","z":"5a59b5f6.3aa00c","name":"","group":"1141d966.bb3557","order":0,"width":0,"height":0,"label":"Sentiment Analysis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":440,"wires":[[]]},{"id":"ea6c1d58.4096f","type":"function","z":"5a59b5f6.3aa00c","name":"","func":"msg.payload=msg.response.utterances_tone\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":540,"wires":[["75669be8.405894"]]},{"id":"75669be8.405894","type":"cloudant out","z":"5a59b5f6.3aa00c","name":"","cloudant":"","database":"sentiment","service":"node-red-jbeus-2021--cloudant-1622349705596-38620","payonly":false,"operation":"insert","x":740,"y":540,"wires":[]},{"id":"6ace400c.b13fd","type":"ui_group","name":"Select Employee","tab":"8d6a341c.a85028","order":1,"disp":true,"width":"6","collapse":false},{"id":"1141d966.bb3557","type":"ui_group","name":"Sentiment of  Conversation","tab":"8d6a341c.a85028","order":2,"disp":true,"width":"6","collapse":false},{"id":"8d6a341c.a85028","type":"ui_tab","name":"Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false}]